.container{
	display:grid;
	grid-template-columns: 97%;
	grid-template-rows:auto;
}

.buttons-menu{
	padding:15px;
	min-height:300px;
}

.display-div{
	position:relative;
	overflow: hidden;
	height: 300px;
	border: 1px solid lightgrey;
}

.sliderDiv{
	width:100%;
	position:absolute;
	top:0;
	transition: opacity 500ms ease-out, left 900ms ease-in-out;
	-webkit-transition: opacity 500ms ease-out, left 900ms ease-in-out;
	-moz-transition: opacity 500ms ease-out, left 900ms ease-in-out;
	-o-transition: opacity 500ms ease-out, left 900ms ease-in-out;
}


/*
MOBILE FIRST DEVELOPMENT
*/

@media screen and (min-width: 760px){

    .container{
	    display:grid;
	    grid-template-columns: 25% 75%;
	    grid-template-rows:auto;
    }
}
